{# templates/user/list.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <body>

    <p>Question: À partir du contrôleur suivant, affichez la liste des utilisateurs et, pour chacun d'eux, leur statut de connexion. Prévoyez aussi un texte dans le cas où la liste des utilisateurs serait vide</p>
        <h1>Les utilisateurs</h1>
        <ul>
            {% for user in users %}
            <li>{{ user.name }} : {% if user.connected %}Connecté{% else %}Non connecté{% endif %}</li>
            {% else %}
            <li>Aucune utilisateur trouvé !</li>
            {% endfor %}
        </ul>
    </body>
</html>